[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
setuptools = "*"
pipenv-setup = "*"

[packages]
pathlib = "*"
gitpython = "*"

[requires]
python_version = "3"
